@media only screen and (max-width: 580px) {
    .col-6 {
        width: 100% !important;
    
    }
}

.bg-navbar{
    background-color: #00235B !important;
}

.bg-y{
    background-color: #FFDD83;
}

.txt-red{
    color: #E21818 !important;
}
